* { 
    padding: 0; margin: 0; 
}
    	
canvas { 
    background: #eee; display: block; margin: 0 auto; 
}

body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#6abadeba;  
    font-family: 'Arial';  
}  
.login-form{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: white;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: black;  
    padding: 20px;  
}  
label{  
    color: black;  
    font-size: 17px;  
}  
#yourname{  
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 350px;  
    height: 30px;  
    border: solid 1px black;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
      
#login{  
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 350px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  